/* 전체 선택자 */
* {
  color: inherit;
}

/* 태그 선택자 */
body {
  font-family: "SUIT";
  margin: 0;
  /* light 급 굵기 */
  font-weight: 300;
  /* red green blue 각 두자리 */
  /* #121212 #181818 세련된 검정색 */
  background-color: #000000; 
  /* a는 알파값-투명도를 줄 수 있음 */
  color: hsla(110, 100%, 100%, 1);
}

/* 클래스 선택자 */
.fancy {
  font-weight: bold;
  text-shadow: 4px 4px 3px #77f;
}
/* ul.menu - <ul> 요소 중에서 class 속성 값이 "menu"인 요소를 선택 
   ul .menu - <ul> 요소 내부에서 class 속성 값이 "menu"인 요소를 선택 */
ul.menu{
	margin: 0;
	padding-left: 0;
}

/* 아이디 선택자 - 한 번 밖에 사용 못함 */
#demo {
  border: red 2px solid;
}