html {
  /* 0.625*16 = 10px */
  font-size: 0.625em;
}

body {
  /* rem은 무조건 루트에서 게산 */
  font-size: 1rem;
  font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 2em;
  line-height: 1.5em;
}